.background{
background-color: blueviolet;
}
.form{
    background-color: white;
}
.sign{
color: purple;
font-weight: 50;
font-size: medium;
font-style: normal;
}
.donec{
    font-size: smaller;
    color: purple;
    margin-bottom: 100px;
}
.username ::placeholder{
    color: purple;
    border-top-width: 0cap;
}
.signin{
    background-color: blueviolet;
    color: white;
    border-radius: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 30px;
}